<div class="parent-container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Application</mat-card-title>
    </mat-card-header>

    <div form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="form-container">
      <mat-card-content>
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstName" [(ngModel)]="userModel.firstName">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName" [(ngModel)]="userModel.lastName">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" [(ngModel)]="userModel.email">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input matInput maxlength="10" type="text" formControlName="phoneNumber" [(ngModel)]="userModel.phoneNumber">
        </mat-form-field>

        <div>
          <div>Upload Image</div>
          <input type="file" formControlName="image" [(ngModel)]="userModel.image">
        </div>

      </mat-card-content>

      <button mat-stroked-button color="accent" type="submit" (click)="onSubmit()">Register</button>

    </div>
  </mat-card>
</div>