.login-container {
    height: 100%;
    background-image: url(https://wallpaperaccess.com/full/624111.jpg);
    background-size: cover;

    .mat-card {
        width: 100%;
        background: #fff;
        border-radius: 10px;
        max-width: 330px;
        padding: 40px 60px 50px;

        mat-card-header {
            text-align: center;
            width: 100%;
            display: block;
            font-weight: 700;

            mat-card-title {
                font-size: 30px;
            }
        }

        .form-container {
            min-width: 100%;
            max-width: 300px;
            width: 100%;

            .mat-form-field {
                width: 100%;
            }

            .mat-form-field-appearance-legacy .mat-form-field-infix {
                padding: 0.8375em 0;
            }

            .mat-error {
                font-size: 12px;
            }

            .mat-flat-button {
                width: 35%;
                line-height: 45px;
            }

            .mat-stroked-button {
                border: 1px solid currentColor;
                line-height: 54px;
                background: #fff7fa;
                width: 100%;
            }
        }
    }
}